@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Black.ttf'),
        url('../fonts/Lato/Lato-BlackItalic.ttf'),
        url('../fonts/Lato/Lato-Bold.ttf'),
        url('../fonts/Lato/Lato-BoldItalic.ttf'),
        url('../fonts/Lato/Lato-Light.ttf'),
        url('../fonts/Lato/Lato-LightItalic.ttf'),
        url('../fonts/Lato/Lato-Regular.ttf'),
        url('../fonts/Lato/Lato-RegularItalic.ttf'),
        url('../fonts/Lato/Lato-Thin.ttf'),
        url('../fonts/Lato/Lato-ThinItalic.ttf')  format('truetype');
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat/Caveat-Bold.ttf'),
         url('../fonts/Caveat/Caveat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf'),
        url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf'),
        url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf'),
        url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf'),
        url('../fonts/Open_Sans/OpenSans-Light.ttf'),
        url('../fonts/Open_Sans/OpenSans-LightItalic.ttf'),
        url('../fonts/Open_Sans/OpenSans-Regular.ttf'),
        url('../fonts/Open_Sans/OpenSans-RegularItalic.ttf'),
        url('../fonts/Open_Sans/OpenSans-SemiBold.ttf'),
        url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
}
html {
    font-size: calc(1em + 1vw);
}

body {
    background-color: #2b2c2c;
    font-family: 'Lato',
    sans-serif;
}

.container {
    background-color: rgb(40, 40, 33);
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1276px;
}

.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 2rem 1rem;
}

.header .section-one {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header .section-one figure {
    margin: 1rem;
    max-width: calc(3em + 10vw);
    padding: 1rem;
}

.header .section-one figure img {
    border-radius: 50%;
    width: 100%;
}

.header .section-two {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header .section-two .work {
    font-family: 'Caveat', cursive;
    line-height: 1.5;
}

.header .section-two .work .name {
    color: #fff;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.header .section-two .work .description {
    color: #e0a80d;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgb(94, 94, 23);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.footer {
    background-color: rgb(54, 54, 23);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}
