//Colors
$color-background-primary: #2c2c2b;
$color-title: #a4a5a6;
$color-subtitle: #e0a80d;
$color-description: #979899;
$progressbar-title-color:#a4a5a6;
$color-bullet: #e0a80d;
$color-line: #404242;

//media-queries
$break-xs: 320px;
$break-small:480px;
$break-medium: 900px;
$break-large: 1200px;

//Fonts
$font-header: "Caveat";
$font-header-bold: "Caveat-Bold";
$font-header-Regular: "Caveat-Regular";

$font-text: "Lato";
$font-text-light: "Lato-Light";
$font-text-blackItalic: "Lato-BlackItalic";
$font-text-bold: "Lato-Bold";
$font-text-boldItalic: "Lato-BoldItalic";
$font-text-black: "Lato-Black";
$font-text-lightItalic: "Lato-LightItalic";
$font-text-regularItalic: "Lato-RegularItalic";
$font-text-thin: "Lato-Thin";
$font-text-thinItalic: "Lato-ThinItalic";

//Animation
$animation-delay: .7s;

