body {
  background-color: $color-background-primary;
}

.container {
  display: grid;
  // grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
  max-width: 1276px;
  padding: 1rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 2rem 1rem;
}

.header .section-one {
  align-items: center;
  display: flex;
  justify-content: center;
  figure {
    margin: 1rem;
    max-width: 235px;
    padding: 1rem;
    img {
      border-radius: 50%;
      filter: grayscale(100%) drop-shadow(0 0 10px #000) brightness(100%);
      -webkit-filter: grayscale(100%) drop-shadow(0 0 10px #000) brightness(100%);
      width: 100%;
    }
  }
}

.header .section-two {
  align-items: center;
  display: flex;
  justify-content: center;
  .profile {
    font-family: $font-header;
    .name {
      color: $color-title;
      font-size: 4.6rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
      @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
        font-size: 2.5rem;
      }
    }
    .description {
      color: $color-subtitle;
      font-size: 2.3rem;
      margin: 0;
      padding: 0;
      @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 1rem;
  .about-me {
    font-family: $font-text;
    font-weight: lighter;
    .title {
      color: $color-title;
      font-size: 1.2rem;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .description {
      color: $color-description;
      font-size: 1.1rem;
      text-align: justify;
      @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
        font-size: 0.875em;
      }
    }
  }
  .work-experience {
    font-family: $font-text;
    font-weight: lighter;
    .title {
      color: $color-title;
      font-size: 1.2rem;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .description {
      color: $color-description;
      font-size: 1.1rem;
      position: relative;
      padding-left: 0.5rem;
      @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
        font-size: 0.875em;
      }
    }
  }
  .education {
    font-family: $font-text;
    font-weight: lighter;
    .title {
      color: $color-title;
      font-size: 1.2rem;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .description {
      color: $color-description;
      font-size: 1.1rem;
      position: relative;
      padding-left: 0.5rem;
      @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
        font-size: 0.875em;
      }
    }
  }
  .skills {
    font-family: $font-text;
    font-weight: lighter;
    .title {
      color: $color-title;
      font-size: 1.2rem;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .description {
      color: $color-description;
      font-size: 1.1rem;
      position: relative;
      margin-bottom: 0.8rem;
      display: grid;
      padding: 0;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-gap: 2rem;
      @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
        font-size: 0.875em;
      }
      .progressbar-title {
        color: $progressbar-title-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        h3 {
          display: inline-block;
        }
      }
      .bar-container {
        background: #555;
        position: relative;
        width: 100%;
        height: 5px;
        margin-top: 5px;
        display: block;
        @include border-radius(5px);

        .progressbar {
          position: absolute;
          width: 0%;
          height: 100%;
          background-color: $color-subtitle;
          @include border-radius(5px);

          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        #progress-html {
          -webkit-animation-name: progress-html;
          animation-name: progress-html;
          -webkit-animation-delay: $animation-delay;
          animation-delay: $animation-delay;
        }

        #progress-css {
          -webkit-animation-name: progress-css;
          animation-name: progress-css;
          -webkit-animation-delay: $animation-delay * 2;
          animation-delay: $animation-delay * 2;
        }

        #progress-javascript {
          -webkit-animation-name: progress-javascript;
          animation-name: progress-javascript;
          -webkit-animation-delay: $animation-delay * 3;
          animation-delay: $animation-delay * 3;
        }
        #progress-vue {
          -webkit-animation-name: progress-vue;
          animation-name: progress-vue;
          -webkit-animation-delay: $animation-delay * 3;
          animation-delay: $animation-delay * 3;
        }
        #progress-angular {
          -webkit-animation-name: progress-angular;
          animation-name: progress-angular;
          -webkit-animation-delay: $animation-delay * 3;
          animation-delay: $animation-delay * 3;
        }
        #progress-node {
          -webkit-animation-name: progress-node;
          animation-name: progress-node;
          -webkit-animation-delay: $animation-delay * 3;
          animation-delay: $animation-delay * 3;
        }
        #progress-react {
          -webkit-animation-name: progress-react;
          animation-name: progress-react;
          -webkit-animation-delay: $animation-delay * 3;
          animation-delay: $animation-delay * 3;
        }
        #progress-git {
          -webkit-animation-name: progress-git;
          animation-name: progress-git;
          -webkit-animation-delay: $animation-delay * 3;
          animation-delay: $animation-delay * 3;
        }
      } // end bar-container
    }
  }
  .portfolio {
    font-family: $font-text;
    font-weight: lighter;
    .title {
      color: $color-title;
      font-size: 1.2rem;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .description {
      color: $color-description;
      font-size: 1.1rem;
      position: relative;
      @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
        font-size: 0.875em;
      }
    }
  }
  .bullets {
    border-left: 2px solid $color-line;
    padding-left: 33px;
    .item {
      margin: 35px 0;
      @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
        margin: 1rem 0;
      }
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: -40px;
        top: 7px;
        width: 10px;
        height: 10px;
        border: 1px solid $color-bullet;
        border-radius: 50%;
        background-color: $color-bullet;
        box-shadow: 0 0 0 7.5px $color-background-primary;
      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 1rem;
  .details {
    display: flex;
    align-items: flex-end;
    font-size: 0.875em;
    justify-content: space-between;
    .code {
      color: #e0a80d;
      font-weight: 700;
    }
  }
}

.spinner {
  background-color: #1d1f20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}
