
/* html {
  font-size: calc(1em + 1vw);
} */

body {
    background-color: $color-background-primary;
    font-family: 'Lato', sans-serif;
    color: $color-description;
  }

  .container {
    background-color: $color-background-secondary;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    padding: 1rem;
    max-width: 1276px;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 2rem 1rem;
  }

  .header .section-one {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .header .section-one figure {
    margin: 1rem;
    max-width: 170px;
    padding: 1rem;
  }

  .header .section-one figure img {
    border-radius: 50%;
    width: 100%;
  }

  .header .section-two {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .header .section-two .work {
    font-family: 'Caveat', cursive;
    line-height: 1.5;
  }

  .header .section-two .work .name {
    color: $color-title;
    font-size: 3.6rem;
    margin: 0;
    padding: 0;
  }

  .header .section-two .work .description {
    color: $color-subtitle;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 1rem;
  }

  .content .about-me {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }

  .content .about-me .title {
    color: $color-title;
  }

  .content .about-me .description {
    font-size: 1rem;
    color: $color-description;
  }

  .content .work-experience {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }

  .content .work-experience .title {
    color: $color-title;
  }

  .content .work-experience .description {
    font-size: 1rem;
    color: $color-description;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 1rem;
    align-content: flex-end;
  }

  .footer .details {
    display: flex;
    justify-content: space-between;
  }
