
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$animation-delay: .7s;

body {
    background-color: $color-background-primary;
    color: $color-description;
    font-family: $font-text;
    line-height: 1.75;
  }

  .container {
    display: grid;
    // grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    max-width: 1276px;
    padding: 1rem;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 2rem 1rem;
  }

  .header .section-one {
    align-items: center;
    display: flex;
    justify-content: center;
    figure {
      margin: 1rem;
      max-width: 235px;
      padding: 1rem;
      img {
        border-radius: 50%;
        filter:grayscale(100%) drop-shadow(0 0 10px #000) brightness(100%);
        -webkit-filter:grayscale(100%) drop-shadow(0 0 10px #000) brightness(100%);
        width: 100%;
      }
    }
  }

  .header .section-two {
    align-items: center;
    display: flex;
    justify-content: center;
    .profile {
      font-family: $font-header;
      .name {
        color: $color-title;
        font-size: 3.6rem;
        font-weight:300;
        margin: 0;
        padding: 0;
        @media screen and (min-width: $break-xs) and (max-width: $break-medium){
          font-size: 2.5rem;
        }
      }
      .description {
        color: $color-subtitle;
        font-size: 1.8rem; 
        margin: 0;
        padding: 0;
        @media screen and (min-width: $break-xs) and (max-width: $break-medium) {
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 1rem;
    .about-me {
      font-family: $font-text;
      font-weight: lighter;
      .title {
        color: $color-title;
        font-size: 1.2rem;
        line-height: 1.45;
        text-transform: uppercase;
      }
      .description {
        color: $color-description;
        font-size: 1.10rem;
        text-align: justify;
        @media screen and (min-width: $break-xs) and (max-width: $break-medium){
          font-size: 0.875em;
        }
      }
    }
    .work-experience {
      font-family: $font-text;
      font-weight: lighter;
      .title {
        color: $color-title;
        font-size: 1.2rem;
        line-height: 1.45;
        text-transform: uppercase;
      }
      .description {
        color: $color-description;
        font-size: 1.10rem;
        position: relative;
        padding-left: 1rem;
        @media screen and (min-width: $break-xs) and (max-width: $break-medium){
          font-size: 0.875em;
        }
      }
    }
    .education {
      font-family: $font-text;
      font-weight: lighter;
      .title {
        color: $color-title;
        font-size: 1.2rem;
        line-height: 1.45;
        text-transform: uppercase;
      }
      .description {
        color: $color-description;
        font-size: 1.10rem;
        position: relative;
        padding-left: 1rem;
        @media screen and (min-width: $break-xs) and (max-width: $break-medium){
          font-size: 0.875em;
        }
      }
    }
    .skills {
      font-family: $font-text;
      font-weight: lighter;
      .title {
        color: $color-title;
        font-size: 1.2rem;
        line-height: 1.45;
        text-transform: uppercase;
      }
      .description {
        color: $color-description;
        font-size: 1.10rem;
        position: relative;
        margin-bottom: .8rem;
        display: grid;
        padding: 0;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 2rem;
        @media screen and (min-width: $break-xs) and (max-width: $break-medium){
          font-size: 0.875em;
        }
        .progressbar-title{
          color: $progressbar-title-color;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3{
            display: inline-block;
          }
        }
        .bar-container{
          background: #555;
          position: relative;
          width: 100%;
          height: 5px;
          margin-top: 5px;
          display: block;
          @include border-radius(5px);
          
          .progressbar{
            position:absolute;
            width:0%;
            height: 100%;
            background-color: $color-subtitle;
            @include border-radius(5px);
    
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }
          #progress-html{
            -webkit-animation-name: progress-html;
            animation-name: progress-html;
            -webkit-animation-delay: $animation-delay;
            animation-delay: $animation-delay;
          }
    
          #progress-css{
            -webkit-animation-name: progress-css;
            animation-name: progress-css;
            -webkit-animation-delay: $animation-delay*2;
            animation-delay: $animation-delay*2;
          }
    
          #progress-javascript{
            -webkit-animation-name: progress-javascript;
            animation-name: progress-javascript;
            -webkit-animation-delay:$animation-delay*3;
            animation-delay: $animation-delay*3;
          }
          #progress-php{
            -webkit-animation-name: progress-php;
            animation-name: progress-php;
            -webkit-animation-delay:$animation-delay*3;
            animation-delay: $animation-delay*3;
          }
          #progress-angular{
            -webkit-animation-name: progress-angular;
            animation-name: progress-angular;
            -webkit-animation-delay:$animation-delay*3;
            animation-delay: $animation-delay*3;
          }
          #progress-node{
            -webkit-animation-name: progress-node;
            animation-name: progress-node;
            -webkit-animation-delay:$animation-delay*3;
            animation-delay: $animation-delay*3;
          }
          #progress-react{
            -webkit-animation-name: progress-react;
            animation-name: progress-react;
            -webkit-animation-delay:$animation-delay*3;
            animation-delay: $animation-delay*3;
          }
          #progress-git{
            -webkit-animation-name: progress-git;
            animation-name: progress-git;
            -webkit-animation-delay:$animation-delay*3;
            animation-delay: $animation-delay*3;
          }
        }// end bar-container
      }
    }
    .portfolio {
      font-family: $font-text;
      font-weight: lighter;
      .title {
        color: $color-title;
        font-size: 1.2rem;
        line-height: 1.45;
        text-transform: uppercase;
      }
      .description {
        color: $color-description;
        font-size: 1.10rem;
        position: relative;
        @media screen and (min-width: $break-xs) and (max-width: $break-medium){
          font-size: 0.875em;
        }
      }
    }
    .bullet{
      color:$color-bullet;
      display: flow-root list-item;
      display: list-item;
      .item {
        color: $color-description;
      }
    }
  }

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 1rem;
  .details {
    display: flex;
    align-items: flex-end;
    font-size: 0.875em;
    justify-content: space-between;
    .code{
      color:#e0a80d;
      font-weight: 700;
    }
  }  
}

.spinner {
  background-color: #1D1F20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 70%;}}
@-moz-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@-moz-keyframes progress-angular{0%{width: 0%;} 100%{ width: 65%;}}
@-moz-keyframes progress-node{0%{width: 0%;} 100%{ width: 85%;}}
@-moz-keyframes progress-react{0%{width: 0%;} 100%{ width: 75%;}}
@-moz-keyframes progress-git{0%{width: 0%;} 100%{ width: 80%;}}

@keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 70%;}}
@keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@keyframes progress-angular{0%{width: 0%;} 100%{ width: 65%;}}
@keyframes progress-node{0%{width: 0%;} 100%{ width: 85%;}}
@keyframes progress-react{0%{width: 0%;} 100%{ width: 75%;}}
@keyframes progress-git{0%{width: 0%;} 100%{ width: 80%;}}