
/* html {
  font-size: calc(1em + 1vw);
} */

body {
    background-color: $color-background-primary;
    font-family: $font-text;
    color: $color-description;
  }

  .container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    padding: 1rem;
    max-width: 1276px;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 2rem 1rem;
  }

  .header .section-one {
    align-items: center;
    display: flex;
    justify-content: center;
    figure {
      margin: 1rem;
      max-width: 235px;
      padding: 1rem;
      img {
        border-radius: 50%;
        width: 100%;
        //filter: brightness(0.4);
        //filter: contrast(200%);
        //filter: drop-shadow(16px 16px 20px blue);
        filter:grayscale(100%) drop-shadow(0 0 10px #000) brightness(90%);
        -webkit-filter:grayscale(100%) drop-shadow(0 0 10px #000) brightness(90%);
}
    }
  }

  .header .section-two {
    align-items: center;
    display: flex;
    justify-content: center;
    .profile {
      font-family: $font-header;
      line-height: 1.5;
      .name {
        color: $color-title;
        font-size: 3.6rem;
        margin: 0;
        padding: 0;
      }
      .description {
        color: $color-subtitle;
        font-size: 1.8rem;
        margin: 0;
        padding: 0;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 1rem;
    .about-me {
      font-family: $font-text;
      font-weight: lighter;
      .title {
        color: $color-title;
      }
      .description {
        font-size: 1rem;
        color: $color-description;
      }
    }
    .work-experience {
      font-family: $font-text;
      font-weight: lighter;
      .title {
        color: $color-title;
      }
      .description {
        position: relative;
        font-size: 1rem;
        color: $color-description;
      }
    }
    .bullet{
      height: 10px;
      width: 10px;
      position: static;
      //left: -31px;
      //top: 3px;
      border-radius: 50%;
      background:#e0a80d;
      box-shadow:0 0 0 6px #2d2e2e;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 1rem;
    align-content: flex-end;
    .details {
      display: flex;
      justify-content: space-between;
    }  
  }